.App {
  display: flex;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

*::selection {
  color: #f4f4f4;
  background-color: #333;
}

.sidebar {
  width: 250px; /* Sidebar genişliği */
  height: 100vh;
  background-color: #f8f9fa; /* Sidebar arka plan rengi */
}

.content {
  flex-grow: 1;
  padding: 20px; /* İçerik alanı etrafındaki boşluk */
  background-color: #fff; /* İçerik alanı arka plan rengi */
}

.sidebar-header {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.sidebar-header img {
  max-height: 60px; /* Logonuzun boyutuna göre ayarlayın */
  margin-bottom: 4px;
}

.sidebar-header h3 {
  margin-top: 20px;
}

.nav-link {
  color: lightgray; /* Pasif menü öğesi rengi */
}

.nav-link.active {
  color: white; /* Aktif menü öğesi rengi */
}

/* Üzerine gelindiğinde rengini değiştirmek isterseniz */
.nav-link:hover {
  color: white; /* Hover rengi */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
